*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    overflow:hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    font-weight: bold;
}
.grid{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:20% 60% 20%;
    width: 100%;
    height: 100%;
}
.caja-1{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 0.07em solid black;
    background-color: rgb(124, 197, 104);
}
.caja-2{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 0.07em solid black;
    background-color: rgb(124, 197, 104);
}
.caja-3{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 0.07em solid black;
    background-color: rgb(194, 197, 104);
}
.caja-4{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 0.07em solid black;
    background-color: rgb(194, 197, 104);
}
.caja-5{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 0.07em solid black;
    background-color: rgb(197, 104, 158);
}
.caja-6{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 0.07em solid black;
    background-color: rgb(104, 168, 197);
}
.caja-1{
    grid-column:1;
    grid-row:1;
}
.caja-2{
    grid-column:2;
    grid-row:1;
}
.caja-3{
    grid-column:1;
    grid-row:2;
}
.caja-4{
    grid-column:2;
    grid-row:2;
}
.caja-5{
    grid-column:1;
    grid-row:3;
}
.caja-6{
    grid-column:2;
    grid-row:3;
}
/* Media Queries */
@media screen and (max-width:48em){
    body{
        font-size: 3em;
        font-weight: 100;
    }
    .grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 27% 27% 15% 15% 16%;
    }
    .caja-1{
        grid-column: 1/3;
        grid-row: 5;
    }
    .caja-2{
        grid-column: 1/3;
        grid-row:4;
    }
    .caja-3{
        grid-column: 1;
        grid-row: 3;
    }
    .caja-4{
        grid-column: 2;
        grid-row: 3;
    }
    .caja-5{
        grid-column:1/3;
        grid-row: 2;
    }
    .caja-6{
        grid-column:1/3;
        grid-row:1;
    }

}